* {
  font-family: JetBrainsMono Nerd Font, sans-serif;
  font-size: 14px;
  color: white;
}

window#waybar {
  background: rgba(30, 30, 30, 0.8);
  border-bottom: 2px solid #444;
}

#workspaces button {
  padding: 4px 10px;
  margin: 2px;
  background: #333;
  border-radius: 6px;
}

#workspaces button.active {
  background: #5f87ff;
}

#clock,
#network,
#pulseaudio,
#battery,
#tray {
  padding: 0 12px;
}
